 
 
 html {
    background-color: #FAF1E6;
}

h1 {
    padding-top: 4em;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    color: #064420;
    text-align: center;
}

.search-bar{
    text-align: center;
    display: block;
}

.search-bar input {
    height: 2.5em;
    width: 50em;
    border-radius: 2em;
    border-color: #064420;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
    padding-left: 2em;
}

.btn-container{
    padding-top: 1.5em;
}
.button {
    border: none;
    background-color: #064420;
    border-radius: 2em;
    width: 16em;
    height: 3em;
    padding: rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: white;
    
} 

.btn-inside{
    padding-right: 0.5em;
    padding-top: 3em;
}