 
body {
    background-color: #FAF1E6;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 3em;
    color: #064420;
    /* margin-bottom: 0; */
}

.pese-card h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 2em;
    color: #064420;
}

.whole-line{
    display: block;
    margin-top: 2em;
}


.center{
    text-align: center;
    margin: auto;
}

.absolute-center{
    text-align: center;
    margin-top: 15em;
}
input {
    height: 2.5em;
    width: 50em;
    border-radius: 3em;
    border: solid #bfd9c6;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
    padding-left: 2em;   
}

.search-container{
    position: fixed;
    left: 50%;
    margin-left: -25em;
    background-color: #FAF1E6;
    padding-bottom: 1em;
}

.button {
    border: none;
    background-color: #064420;
    border-radius: 2em;
    width: 16em;
    height: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: white;
    cursor: pointer;  
    margin-top: 0;
} 

.button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
  }

#dummyframe {
    display: none;
}

.pese-card{
    background-color:#bfd9c6;
    height: 10em;
    width: 50em;
    border-radius: 1em;
}

.results-area{
    margin-top: 5em;
    height: 36.5em;
    width: 50em;
    overflow: scroll;
    /* text-align: center; */
}

.results-area h2{
    text-align: center;
}


.results-area::-webkit-scrollbar{
    display: none;
}

.card-header{
    margin-left: 1.5em;
    padding-top: 0.5em;
}

.card-top{
    height: 4em;
    width: 50em;
    background-color: #bfd9c6;
    border-top-right-radius: 1.5em;
    border-top-left-radius: 1.5em;

}

.card-bottom{
    height: 6em;
    width: 50em;
    background-color: #c9e7d1;
    border-bottom-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
}

.card h1{
    font-size: 2em;
}

.card:hover{
    cursor: pointer;
}

.pese-preview{
margin-top: 0;
padding-top: ;
}

.card-bottom p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 0.8em;
    color: #7F9E84;
    
}

.no-results{
    margin-top: 5em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: #7F9E84;
    /* visibility: hidden; */
}