.container {
    list-style-type: none;
    margin: 0;
    padding: 1em 1.75em;
    border-bottom: 2px solid #D4D2D2;
    text-align: center;
}

.container li {
    display: inline-block;
    font-size: larger;
    color: black;
}

.titleContainer{
    float: left;
    width: 250px;
    position: absolute;
    left: 1em;
}


.titleContainer:hover {
    cursor: pointer;
}

.pages {
    display: inline-block;
}

.links {
    margin-top: 15px;
    margin-right: 1em;
}

.linksContainer {
    display: flex;
    margin-top: 15px;
    float: right;
    position: absolute;
    right: 1em;
}

#searchBar {
    width: 40vw;
    height: 45px;
    /* margin-top: 5px; */

    border-color: #516773;
    border-style: solid;
    border: none;
    border-bottom: 2px #516773 solid;

    outline: none;
    
    font-size:x-large;
    color: #516773;
    text-align: center;
    font-family: Roboto;
    font-weight: 100;

    /* margin: 0 10vw; */
}

/* .searchBar::placeholder {
    color: #D4D2D2;
    font-weight: 100;
} */

.links:hover {
    cursor: pointer;
}

.hamburgerMenu, .searchIcon{
    display: none;
}

.backArrow{
    display: none;
    position: absolute;
    margin: 1em;
}

.backArrowContainer{
    float: left;
}
.smallPeseTitle {
    display: none;
}
#copyBtnContainer{
    /* width: 154px; */
    display: inline-block;
    text-align: right;
    margin-right: 1em;
}
#copyBtn{
    margin: 0;
}

#dropDown li {
    list-style-type: none;
    display: inline-block;
    padding: 0.5rem 2rem;
}
#dropDown {
    text-align: center;
    padding: 0;
    display: none;
}

@media screen and (max-width: 1052px) { 
    #searchBar, .links, .peseTitle, #copyBtnContainer{
      display: none;
    }
    #searchBar{
        width: 60vw;
    }
    .searchIconContainer{
        text-align: center;
    }
    
    .smallPeseTitle {
        display: inline;
    }

    .titleContainer{
        float: none;
        position: static;
    }

    .hamburgerMenu, .searchIcon, .backArrow{
        display: inline-block;
    }

    .hamburgerMenuContainer{
        float: left;
    }

    .searchIconContainer{
        float: right;
    }

    .titleContainer{
        display: block;
    }
    
  }

  @media screen and (max-width: 656px) { 
    
    .container {
        padding: 1rem 0.2rem;
    }
    
    .hamburgerMenu{
        margin-left: 1rem;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape){
    .links{
        display: none;
      }
      
    }