.container {
    list-style-type: none;
    margin: 0;
    padding: 1em 1.75em;
    border-bottom: 2px solid #D4D2D2;
    display: flex;
    justify-content: space-around;
}

.container li {
    display: inline-block;
    margin-left: 1rem;
    font-size: larger;
    color: black;
}

.pages {
    display: inline-block;
}

.links {
    margin-top: 15px;
    margin-left: 1em;
}

.linksContainer {
    margin-top: 15px;

}

#searchBar {
    width: 40vw;
    height: 2rem;
    margin-top: 5px;

    border-color: #516773;
    border-style: solid;
    border: none;
    border-bottom: 2px #516773 solid;
    outline: none;
    
    font-size: larger;
    color: #516773;
    text-align: center;
    font-family: Roboto;
    font-weight: 100;
}

.searchBar::placeholder {
    color: #D4D2D2;
    font-weight: 100;
}

.title:hover {
    cursor: pointer;
}

.links:hover {
    cursor: pointer;
}