.container {
    list-style-type: none;
    margin: 0;
    padding: 1em 1.75em;
    border-bottom: 2px solid #D4D2D2;
    text-align: center;
    height: 81px;
}

.container li {
    display: inline-block;
    font-size: larger;
    color: black;
}

.titleContainer{
    text-align: left;
    float: left;
}

.title:hover {
    cursor: pointer;
}

.pages {
    display: inline-block;
}

.links {
    margin-top: 15px;
    margin-left: 1em;
}

.linksContainer {
    margin-top: 15px;
    float: right;
}

#searchBar {
    width: 40vw;
    height: 2rem;
    margin-top: 5px;

    border-color: #516773;
    border-style: solid;
    border: none;
    border-bottom: 2px #516773 solid;
    outline: none;
    
    font-size: larger;
    color: #516773;
    text-align: center;
    font-family: Roboto;
    font-weight: 100;

    /* margin: 0 10vw; */
}

.searchBar::placeholder {
    color: #D4D2D2;
    font-weight: 100;
}



.links:hover {
    cursor: pointer;
}

.peseTitle {
    width: 576px;
    margin: 0 9rem;
}