
#peseDisplay{
    text-align: center;
    font-size: xx-large;
    background-color: white;
    padding-top: 1em;
    padding-bottom: 0;
    
}

.backToMainBtn {
    display: absolute;
    padding: 1em 5em;
}

.backToMainBtn:hover{
    text-decoration: underline;
    cursor: pointer;
}

#verseNum {
    font-size: x-large;
    font-style: oblique;
    font-weight: bold;
}

.verseLines{
    margin: 1em;
    /* font-size: xx-large; */
}
